<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg);">
  <div class="container">
    <h1 class="py-3">Your personalized Watchlist!</h1>
    <%= link_to "Create your own List", new_list_path, class: "btn btn-warning" %>
  </div>
</div>
<div class="container">
  <div class="cards py-2">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://ducunl0s4svtl.cloudfront.net/wp-content/uploads/2017/10/flat-clapperboard-icon_1063-38.jpg') %>)">
        <%= link_to list_path(list), class: "btn text-white" do %>
          <% list.name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
