<div class="container">
  <nav class="border shadow rounded p-3">
    <%= link_to "Create new list", new_list_path, class: "btn btn-primary" %>
  </nav>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://ducunl0s4svtl.cloudfront.net/wp-content/uploads/2017/10/flat-clapperboard-icon_1063-38.jpg') %>)">
        <%= link_to list_path(list), class: "btn text-white" do %>
          <% list.name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
