<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/1217088301/ja/%E3%82%B9%E3%83%88%E3%83%83%E3%82%AF%E3%83%95%E3%82%A9%E3%83%88/%E8%83%8C%E6%99%AF%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E3%83%A2%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%83%A9%E3%82%A4%E3%83%88%E3%81%AE%E9%AB%98%E9%80%9F%E6%8A%BD%E8%B1%A1%E3%83%88%E3%83%A9%E3%83%83%E3%82%AF.jpg?s=612x612&w=0&k=20&c=oCnRBt2-pIIqKs0Zin3PJbDcf92DIwSpmeHzXu6pL0o=);">
  <div class="container">
    <h1 class="py-3">Your personalized Watchlist!</h1>
    <%= link_to "Home", lists_path, class: "btn btn-warning" %>
  </div>
</div>

<div class="container py-3">
  <div class="border shadow p-3">
    <h1 class="text-center">Add a list</h1>
    <%= render 'form', list: @list %>
  </div>
</div>
