<div class="container">
  <nav class="border shadow rounded p-3">
    <%= link_to "Home", lists_path, class: "btn btn-primary" %>
  </nav>
  <div class="border shadow p-3">
    <h1 class="text-center">Add movie to the list</h1>
    <%= render 'form', bookmark: @bookmark %>
  </div>
</div>
